<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>YANGI AVLOD - BOOTCAMP</title>
</head>

<body>
  <div class="container">
    <header>
      <p class="logo">YANGI AVLOD <span class="logo_effect">BOOTCAMP</span></p>
      <div class="icon-ham"><i class="fa-solid fa-bars-staggered"></i></div>
      <div class="nav">
        <div class="icon-x"><i class="fa-solid fa-xmark"></i></div>
        <p class="logo media">YANGI AVLOD <span class="logo_effect">BOOTCAMP</span></p>
        <a href="#" class="line-down">FRONTEND BOOTCAMP</a>
        <a href="#" class="line-down">FOUNDATION SPEED <span>beta</span></a>
        <a href="#" class="line-down">FOUNDATION</a>
        <a target="_blank" href="https://forms.gle/NmRGrExVazXmsd8q7"><button>Ro'yxatdan O'tish</button></a>
      </div>
    </header>
    <main>
      <div class="main-content-name">
        <h3 class="center_name">
          YANGI &nbsp; AVLOD
        </h3>
        <h1 class="course_name">
          FRONTEND BOOTCAMP
        </h1>
      </div>
      <div class="main-content">
        <img class="main-content-image" src="../assets/images/main-content-image.png" alt="Main Content Image">
      </div>
    </main>
    <section class="about-course">
      <div class="tab">
        <h1 class="tabname">BU KURS KIM UCHUN ?</h1>
      </div>
      <div class="forfrom">

        <div class="ff-box">
          <img src="../assets/images/kim_uchun/1.webp" alt="JavaScript">
          <h1 class="ff-name">Yangi boshlanuvchilar uchun</h1>
          <p class="ff-paragraf">Matematikani yaxshi bilishingiz yoki dasturlash tajribasiga ega bo'lishingiz shart
            emas. Bosqichma-bosqich veb-saytlarni yaratishni o'rganasiz. Siz oddiy web sahifalaridan boshlaysiz va kurs
            oxirida siz frameworklarni bilib olasiz, murakkab korporativ websaytlarni yaratasiz va jamoada ishlaysiz.
          </p>
        </div>

        <div class="ff-box">
          <img src="../assets/images/kim_uchun/2.webp" alt="JavaScript">
          <h1 class="ff-name">Boshlang'ich dasturchilar</h1>
          <p class="ff-paragraf">Dasturlashni sevimli mashg'ulotdan daromadli kasbga aylantiring. Ilg'or tartib
            ko'nikmalarini egallang, JavaScript va frameworklarni chuqur o'rganing. Bilimlardagi bo'shliqlarni yoping va
            yirik kompaniyada o'rta darajadagi dasturchi lavozimiga ariza topshirish imkoniyatiga ega bo'ling.</p>
        </div>

        <div class="ff-box">
          <img src="../assets/images/kim_uchun/3.webp" alt="JavaScript">
          <h1 class="ff-name">IT sohasida tajribasiz frilanserlar</h1>
          <p class="ff-paragraf">Agar siz zerikarli ishlardan charchagan bo'lsangiz va IT sohasida martabangizni
            oshirmoqchi bo'lsangiz, kurs veb-ishlab chiqish dunyosi uchun yaxshi qo'llanma bo'ladi. Kursdan so'ng siz
            kuchli portfolioga, jamoaviy ish tajribasiga va masofadan turib yoki ajoyib jamoada ishlash uchun barcha
            kerakli bilimlarga ega bo'lasiz.</p>
        </div>
      </div>
      <div class="tab">
        <h1 class="tabname">KURS DAVOMIDA NIMALAR O'RGATILADI ?</h1>
      </div>
      <div class="language-icons">
        <div class="li-icon">
          <img src="../assets/images/dasturlar/html.png" alt="html">
          <p>HTML</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/css.png" alt="html">
          <p>CSS</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/git-bash.png" alt="html">
          <p>Git Bash</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/github.png" alt="html">
          <p>Github</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/bootstrap.png" alt="html">
          <p>Bootstrap 5</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/js.png" alt="html">
          <p>JavaScript</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/aos.jpg" alt="html">
          <p>AOS JS</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/parallax.png" alt="html">
          <p>Parallax JS</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/slick.png" alt="html">
          <p>Slick-Slider JS</p>
        </div>
        <div class="li-icon">
          <img src="../assets/images/dasturlar/resume.png" alt="html">
          <p>Resume</p>
        </div>
      </div>
      <div class="tab">
        <h1 class="tabname">MATERIALLARNI O'Z ICHIGA OLADI</h1>
      </div>
      <div class="materials">
        <div class="material">
          <i class="fa-solid fa-square-check"></i>
          <p class="material_name">100 soatdan ortiq Offline dars.</p>
        </div>
        <div class="material">
          <i class="fa-solid fa-square-check"></i>
          <p class="material_name">PDF va Maqolalar</p>
        </div>
        <div class="material">
          <i class="fa-solid fa-square-check"></i>
          <p class="material_name">Materiallar</p>
        </div>
        <div class="material">
          <i class="fa-solid fa-square-check"></i>
          <p class="material_name">20+ Loyiha</p>
        </div>
        <div class="material">
          <i class="fa-solid fa-square-check"></i>
          <p class="material_name">Mentorlar</p>
        </div>
        <div class="tab">
          <h1 class="tabname">KURS TARKIBI</h1>
        </div>
        <div class="moduls">
          <div class="modul">
            <h1 class="modul_name">
              1-modul. HTML ASOSLARI
            </h1>
          </div>
          <div class="modul">
            <h1 class="modul_name">
              2-modul. CSS Asoslari
            </h1>
          </div>
          <div class="modul">
            <h1 class="modul_name">
              3-modul. Git va Github nima ?
            </h1>
          </div>
          <div class="modul">
            <h1 class="modul_name">
              4-modul. Bootstrap 5
            </h1>
          </div>
          <div class="modul">
            <h1 class="modul_name">
              5-modul. JavaScript Asoslari
            </h1>
          </div>
          <div class="modul">
            <h1 class="modul_name">
              6-modul. JavaScript Frameworklari : AOS , Slick Slider , Parallax.
            </h1>
          </div>
          <div class="modul">
            <h1 class="modul_name">
              7-modul. Resume Tayyorlash.
            </h1>
          </div>
        </div>
      </div>
      <div class="reklama-text">
        <h1>
          <i class="fa-solid fa-circle-question"></i>
          Bozorda Mutaxassis Yetarli Emas.
        </h1>
      </div>
      <div class="reklama">
        <div class="info">
          <h1>4100 ta Kompaniya</h1>
          <p>endi ular hh.uz ga ko'ra frontend ishlab dasturchilarni qidirmoqdalar</p>
        </div>
        <div class="info">
          <h1>500 - 1500 Dollar</h1>
          <p>New.HR ma'lumotlariga ko'ra, o'rta darajadagi frontend dasturchilar ish haqi</p>
        </div>
      </div>
      <div class="card-teacher">
        <h2>BOOTCAMP USTOZI</h2>
        <div class="teacher">
          <img src="../assets/images/teacher.jpg" alt="Teacher">
          <div class="info">
            <h1>Baxtiyorov She'rozbek Ergash o'g'li</h1>
            <p>FOUNDATION SPEED va FRONTEND BOOTCAMP kurslari muallifi . Frontend dasturchi , ustoz Baxtiyorov
              She'rozbek . <b>YANGI AVLOD</b> O'quv markazida Kompyuter Sohasi bo'yicha o'qituvchi .<b><a
                  href="http://play-net.vercel.app/">Play.NET</a></b> Platformasi Asoschisi . </p>
          </div>
        </div>
      </div>
      <div class="tab">
        <h1 class="tabname">
          BIZ HAQIMIZDA O'QUVCHILARNI FIKRI
        </h1>
      </div>
      <div class="comments">
        <div class="comment">
          <div class="profile">
            <img src="../assets/images/commnets/asliddin.jpg" alt="">
            <h1>Sanjar Aka</h1>
          </div>
          <p>Kurs juda yuqori saviyada tayyorlangan. Hamma qo'llanilgan texnalogiyalar va ular yordamida qilingan har
            bir proyekt o'rganuvchilarni kursni bitirgandan so'ng boshqa raqobatchi junior developer lardan ajralib
            turishi uchun maxsus tayyorlangan. Isboti sifatida haxsan o'zim bilan bo'lgan bir voqeani aytsam: JavaScript
            bo'limini tugatib, She'roz aka bilan maslahatlashgan xolda u yerda qilingan loyihani LinkedInga qo'ydim va 2
            kun ichida menga bir kompaniya tomonidan ish taklifi keldi. Ularga aynan shu proyekt yoqqanini va shunga
            o'xshagan proyektlar qilib berishimni so'rashdi. ReactJSni tugatishim bilanoq to'liq frontend developer
            sifatida ishga topshirdim va hozirda junior dasturchi bo'lib ishlayman. Eng qizig'i kurs boshlangandan 3 oy
            o'tib o'z ishimni topdim
          </p>
        </div>

        <div class="comment">
          <div class="profile">
            <img src="../assets/images/commnets/asilbek.jpg" alt="">
            <h1>Nodirov Asilbek</h1>
          </div>
          <p>Ishga kirganimdan ko'rinib turibdiki, kursni menga juda katta yordami tegdi. Bu kursgacha men faqat html
            css va JavaScript boshlang'ich malumotlarini bilardim. Hozir esa Alhamdulillah junior darajadagi frontend
            dasturchi bo'ldim. Bu uchun Mohirdevga katta rahmat

          </p>
        </div>


        <div class="comment">
          <div class="profile">
            <img src="../assets/images/commnets/zikrillo.jpg" alt="">
            <h1>Shukrullayev Zikrillo</h1>
          </div>
          <p>Kursda kudayam ko'p ma'lumotlar berilgan. Bemalol kursni bitirib ishga kirish uchun to'laqonli bilimga ega
            bo'lish mumkin. Men kursning 50% qismini bitiriib (intership) ishga kirdim. Hozir ReactJS | Frontend
            Dasturchi sifatida amalyot o'tayabman, kursni barchaga masalahat beraman



          </p>
        </div>
      </div>
    </section>
  </div>


  <footer>
    <div class="footer-main">
      <!-- <p class="logo white">+998938340617</p>
        <p class="logo white">+998995555958</p>
        <p class="logo white">YANGI AVLOD - FRONTEND BOOTCAMP</p> -->

      <div class="departament">
        <p class="logo white m">YANGI AVLOD <span class="logo_effect">BOOTCAMP</span></p>
        <p class="dep-name">ALOQA</p>
        <p class="dep-info">+998938340617</p>
        <p class="dep-info">+998995555958</p>
        <p class="dep-info">yangiavlod12@gmail.com</p>
        <p class="dep-info">YANGI AVLOD - FRONTEND BOOTCAMP</p>
      </div>
      <div class="departament">
        <p class="dep-name pad">KURSLAR</p>
        <a href="#">
          <p class="dep-info">FRONTEND BOOTCAMP</p>
        </a>
        <a href="#">
          <p class="dep-info yess">FOUNDATION SPEED</p>
        </a>
        <a href="#">
          <p class="dep-info">FOUNDATION</p>
        </a>
      </div>
    </div>
    <p class="foot-p">
      BARCHA HUQUQLAR HIMOYALANGAN. YANGI AVLOD SMS

    </p>
  </footer>









  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src=".././assets/js/script.js"></script>
</body>

</html>